// colors
$color-black: #000;
$color-black-400: #30363d;
$color-black-500: #3f4953;

$color-white: #fff;

$color-blue-400: #28afaf;
$color-blue-500: #0c9c9c;

$color-gray: #444447;
$color-gray-100: #656572;

// Font

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"); ;
